In [155]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA 
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier ,RandomForestClassifier ,GradientBoostingClassifier

In [167]:
data = pd.read_csv(r"C:\Users\Krutarth\Desktop\Datasets\greyatom_forest\data.csv")
data_scaled = pd.read_csv(r"C:\Users\Krutarth\Desktop\Datasets\greyatom_forest\data_scaled.csv")
data_scaled

,Elevation,Aspect,Slope,Horizontal_Distance_To_Roadways,Horizontal_Distance_To_Fire_Points,Hillshade,Distance_To_Hydrology,Cover_Type
0,-0.013258,-0.552817,0.055341,-0.952534,-1.042838,-0.281231,-0.955424,5
1,-0.588503,-0.488834,-1.004089,-0.993359,-0.009293,0.473344,-0.956412,6
2,-1.051096,-1.156080,-1.121804,-0.368897,-1.222081,0.365548,-1.099126,4
3,-0.094751,0.315516,1.114771,-0.384773,-0.518485,1.079699,0.978003,2
4,0.125760,-0.598519,-0.650946,-0.014330,-0.389181,0.163429,1.421251,2
...,...,...,...,...,...,...,...,...
9067,0.233618,1.229551,2.291915,-0.592675,0.319765,-0.415976,2.740085,2
9068,-0.382374,-0.580238,0.879342,0.356869,-0.788687,-1.210974,-0.702374,6
9069,1.439236,0.525744,-0.768660,0.684220,-0.739641,1.335715,-0.702621,7
9070,-1.532864,-0.397431,1.585628,-0.731780,-1.275586,-1.345720,-0.781922,4
9071,-0.542963,-0.342589,-0.650946,-1.053839,-0.873404,0.486818,0.335806,3

In [168]:
#outliers-- no results
#feature selection-- pca, rfe, chi2, anova--anova at 5 features is the best
#different models
#feature engineering
#different scalers

In [170]:
selector = SelectKBest(k=4)
data_feature = pd.DataFrame(selector.fit_transform(data_scaled.drop(columns=['Cover_Type']),data.Cover_Type))
data_feature

             0         1         2         3
0    -0.013258 -0.952534 -1.042838 -0.955424
1    -0.588503 -0.993359 -0.009293 -0.956412
2    -1.051096 -0.368897 -1.222081 -1.099126
3    -0.094751 -0.384773 -0.518485  0.978003
4     0.125760 -0.014330 -0.389181  1.421251
...        ...       ...       ...       ...
9067  0.233618 -0.592675  0.319765  2.740085
9068 -0.382374  0.356869 -0.788687 -0.702374
9069  1.439236  0.684220 -0.739641 -0.702621
9070 -1.532864 -0.731780 -1.275586 -0.781922
9071 -0.542963 -1.053839 -0.873404  0.335806

[9072 rows x 4 columns]

In [171]:
data_pred = pd.merge(data_feature, data.drop(columns=data_scaled.columns),on = data_scaled.index)
data_pred.drop(columns=['key_0'], inplace=True)
data_pred

,0,1,2,3,Wilderness_Area1,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,Soil_Type1,Soil_Type2,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,-0.013258,-0.952534,-1.042838,-0.955424,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-0.588503,-0.993359,-0.009293,-0.956412,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1.051096,-0.368897,-1.222081,-1.099126,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-0.094751,-0.384773,-0.518485,0.978003,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.125760,-0.014330,-0.389181,1.421251,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9067,0.233618,-0.592675,0.319765,2.740085,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9068,-0.382374,0.356869,-0.788687,-0.702374,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9069,1.439236,0.684220,-0.739641,-0.702621,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9070,-1.532864,-0.731780,-1.275586,-0.781922,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9071,-0.542963,-1.053839,-0.873404,0.335806,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [172]:
X = data_pred
y = data.Cover_Type
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [174]:
algorithms = [LogisticRegression(), DecisionTreeClassifier(), GradientBoostingClassifier(), RandomForestClassifier(), GradientBoostingClassifier() ]

In [175]:
scores = []
for algorithm in algorithms:
    model = algorithm
    model = model.fit(X_train, y_train)

    score = model.score(X_test, y_test)
    scores.append([str(algorithm), score])
scores

C:\Users\Krutarth\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

[['LogisticRegression()', 0.6910360029390155],
 ['DecisionTreeClassifier()', 0.7656135194709772],
 ['GradientBoostingClassifier()', 0.7711241734019103],
 ['RandomForestClassifier()', 0.8427626745040412],
 ['GradientBoostingClassifier()', 0.7714915503306392]]

In [177]:
log_reg = RandomForestClassifier()
log_reg = log_reg.fit(X_train, y_train)

score = log_reg.score(X_test, y_test)
score

0.8445995591476855

In [178]:
test = pd.read_csv(r"C:\Users\Krutarth\Desktop\Datasets\greyatom_forest\test.csv")
test_scaled = pd.read_csv(r"C:\Users\Krutarth\Desktop\Datasets\greyatom_forest\test_scaled.csv")
Id = test.Id
test.drop(columns=['Id'], inplace=True)

In [187]:
test_scaled

,Elevation,Aspect,Slope,Horizontal_Distance_To_Roadways,Horizontal_Distance_To_Fire_Points,Hillshade,Distance_To_Hydrology
0,-0.101942,-1.174361,-1.357232,-1.276105,-0.724481,0.540717,0.021041
1,1.561476,0.041306,-0.180088,0.879270,0.250208,0.904529,0.597890
2,0.094600,1.640867,0.408484,0.009862,-0.382938,-0.294705,0.135277
3,0.461319,1.768832,-0.886375,2.505440,0.283203,0.338598,0.040196
4,-1.051096,-1.229203,0.761627,-0.430134,-0.625496,-1.426567,-0.465798
...,...,...,...,...,...,...,...
6043,-1.319544,0.288095,0.879342,-0.594187,-0.992008,1.106648,-1.099126
6044,-0.396755,1.723130,-0.650946,-0.038522,1.223114,0.298175,-0.957945
6045,-1.218876,0.050446,-1.357232,-0.816453,-0.848435,0.958428,-1.099126
6046,-1.118208,-0.507115,1.703343,-0.784701,0.083450,-1.844278,-0.040562
6047,-1.377069,1.339236,1.703343,-1.003187,-1.259534,-0.402502,0.396725

In [179]:
test['Hillshade'] = test.Hillshade_9am + 2*test.Hillshade_Noon + test.Hillshade_3pm
test.drop(columns=['Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm'], inplace=True)

In [180]:
test['Distance_To_Hydrology'] = np.sqrt(test.Horizontal_Distance_To_Hydrology**2 + test.Vertical_Distance_To_Hydrology**2)
test.drop(columns=['Horizontal_Distance_To_Hydrology','Vertical_Distance_To_Hydrology'], inplace=True)

In [189]:
test_feature = pd.DataFrame(selector.transform(test_scaled))

In [190]:
test_feature

             0         1         2         3
0    -0.101942 -1.276105 -0.724481  0.021041
1     1.561476  0.879270  0.250208  0.597890
2     0.094600  0.009862 -0.382938  0.135277
3     0.461319  2.505440  0.283203  0.040196
4    -1.051096 -0.430134 -0.625496 -0.465798
...        ...       ...       ...       ...
6043 -1.319544 -0.594187 -0.992008 -1.099126
6044 -0.396755 -0.038522  1.223114 -0.957945
6045 -1.218876 -0.816453 -0.848435 -1.099126
6046 -1.118208 -0.784701  0.083450 -0.040562
6047 -1.377069 -1.003187 -1.259534  0.396725

[6048 rows x 4 columns]

In [191]:
test_pred = pd.merge(test_feature, test.drop(columns=data_scaled.drop(columns=['Cover_Type']).columns),on = test_scaled.index)
test_pred.drop(columns=['key_0'], inplace=True)

In [192]:
test_pred

,0,1,2,3,Wilderness_Area1,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,Soil_Type1,Soil_Type2,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,-0.101942,-1.276105,-0.724481,0.021041,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.561476,0.879270,0.250208,0.597890,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0.094600,0.009862,-0.382938,0.135277,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.461319,2.505440,0.283203,0.040196,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1.051096,-0.430134,-0.625496,-0.465798,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6043,-1.319544,-0.594187,-0.992008,-1.099126,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6044,-0.396755,-0.038522,1.223114,-0.957945,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6045,-1.218876,-0.816453,-0.848435,-1.099126,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6046,-1.118208,-0.784701,0.083450,-0.040562,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6047,-1.377069,-1.003187,-1.259534,0.396725,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [193]:
predictions = log_reg.predict(test_pred)
predictions

array([5, 1, 5, ..., 4, 4, 3], dtype=int64)

In [196]:
Id = pd.DataFrame(Id, columns=['Id'])
Id['Cover_Type'] = predictions
Id

        Id  Cover_Type
0     6376           5
1     8962           1
2     7122           5
3      931           5
4     3678           6
...    ...         ...
6043  3982           4
6044  8524           6
6045  4332           4
6046  4935           4
6047  1981           3

[6048 rows x 2 columns]

In [201]:
cd C:\Users\Krutarth\Desktop\Datasets\greyatom_forest

C:\Users\Krutarth\Desktop\Datasets\greyatom_forest

In [202]:
Id.to_csv('submission.csv', index=False)