In [65]:
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [66]:
data = pd.read_csv(r"C:\Users\Krutarth\Desktop\Datasets\greyatom_boosting\train.csv")
data.drop(columns=['Id', 'customerID'], inplace=True)

In [67]:
data.describe(exclude=np.number)

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
count,5634,5634,5634,5634,5634,5634,5634,5634,5634,5634,5634,5634,5634,5634,5634,5634,5634
unique,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,5275,2
top,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,,No
freq,2852,2894,3930,5086,2715,2485,2853,2466,2487,2804,2231,2221,3112,3343,1906,9,4120

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5634 non-null   object
 1   SeniorCitizen     5634 non-null   int64
 2   Partner           5634 non-null   object
 3   Dependents        5634 non-null   object
 4   tenure            5634 non-null   int64
 5   PhoneService      5634 non-null   object
 6   MultipleLines     5634 non-null   object
 7   InternetService   5634 non-null   object
 8   OnlineSecurity    5634 non-null   object
 9   OnlineBackup      5634 non-null   object
 10  DeviceProtection  5634 non-null   object
 11  TechSupport       5634 non-null   object
 12  StreamingTV       5634 non-null   object
 13  StreamingMovies   5634 non-null   object
 14  Contract          5634 non-null   object
 15  PaperlessBilling  5634 non-null   object
 16  PaymentMethod     5634 non-null   object
 17  MonthlyCharges    5634 non-null   float64
 18  TotalCharges      5634 non-null   object
 19  Churn             5634 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 880.4+ KB

In [69]:
#gender
data['gender'].replace({
    'Male':1,
    'Female':0
},inplace=True)

In [70]:
#partner
data['Partner'].replace({
    'Yes':1,
    'No':0
}, inplace=True)

In [71]:
#dependents
data['Dependents'].replace({
    'Yes':1,
    'No':0
}, inplace=True)

In [72]:
#phone service
data['PhoneService'].replace({
    'Yes':1,
    'No':0
}, inplace=True)

In [73]:
data['MultipleLines'].value_counts()

No                  2715
Yes                 2371
No phone service     548
Name: MultipleLines, dtype: int64

In [74]:
#MultipleLines
data['MultipleLines'].replace({
    'No':0,
    'No phone service':0,
    'Yes':1
}, inplace=True)

In [75]:
data.InternetService.value_counts()

Fiber optic    2485
DSL            1922
No             1227
Name: InternetService, dtype: int64

In [76]:
data.groupby('InternetService')['Churn'].value_counts()

InternetService  Churn
DSL              No       1551
                 Yes       371
Fiber optic      No       1435
                 Yes      1050
No               No       1134
                 Yes        93
Name: Churn, dtype: int64

In [77]:
#InternetService
data['InternetService'].replace({
    'DSL':1,
    'No':2,
    'Fiber optic':0
},inplace=True)

In [78]:
data.OnlineSecurity.value_counts()

No                     2853
Yes                    1554
No internet service    1227
Name: OnlineSecurity, dtype: int64

In [79]:
#OnlineSecurity
data['OnlineSecurity'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

In [80]:
#OnlineBackup
data.OnlineBackup.value_counts()

No                     2466
Yes                    1941
No internet service    1227
Name: OnlineBackup, dtype: int64

In [81]:
data['OnlineBackup'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

In [82]:
#DeviceProtection
data.DeviceProtection.value_counts()

No                     2487
Yes                    1920
No internet service    1227
Name: DeviceProtection, dtype: int64

In [83]:
data['DeviceProtection'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

In [84]:
#TechSupport
data.TechSupport.value_counts()

No                     2804
Yes                    1603
No internet service    1227
Name: TechSupport, dtype: int64

In [85]:
data['TechSupport'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

In [86]:
#StreamingTV
data.StreamingTV.value_counts()

No                     2231
Yes                    2176
No internet service    1227
Name: StreamingTV, dtype: int64

In [87]:
data['StreamingTV'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

In [88]:
#StreamingMovies
data.StreamingMovies.value_counts()

No                     2221
Yes                    2186
No internet service    1227
Name: StreamingMovies, dtype: int64

In [89]:
data['StreamingMovies'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

In [90]:
#Contract
data.Contract.value_counts()

Month-to-month    3112
Two year          1335
One year          1187
Name: Contract, dtype: int64

In [91]:
data.groupby('Contract')['Churn'].value_counts()

Contract        Churn
Month-to-month  No       1766
                Yes      1346
One year        No       1057
                Yes       130
Two year        No       1297
                Yes        38
Name: Churn, dtype: int64

In [92]:
data['Contract'].replace({
    'Month-to-month':0,
    'One year':1,
    'Two year':2
},inplace=True)

In [93]:
#PaperlessBilling
data.PaperlessBilling.value_counts()

Yes    3343
No     2291
Name: PaperlessBilling, dtype: int64

In [94]:
data['PaperlessBilling'].replace({
    'Yes':1,
    'No':0
},inplace=True)

In [95]:
#PaymentMethod
data.PaymentMethod.value_counts()

Electronic check             1906
Mailed check                 1295
Bank transfer (automatic)    1244
Credit card (automatic)      1189
Name: PaymentMethod, dtype: int64

In [96]:
data.groupby('PaymentMethod')['Churn'].value_counts()

PaymentMethod              Churn
Bank transfer (automatic)  No       1039
                           Yes       205
Credit card (automatic)    No       1011
                           Yes       178
Electronic check           No       1034
                           Yes       872
Mailed check               No       1036
                           Yes       259
Name: Churn, dtype: int64

In [97]:
data = pd.merge(data,pd.get_dummies(data['PaymentMethod']),on=data.index)
data.drop(columns=['key_0','PaymentMethod'],inplace=True)

In [98]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,0,0,0,0,27,1,0,2,0,0,...,0,2,1,20.25,538.2,No,1,0,0,0
1,1,0,1,1,1,1,0,2,0,0,...,0,0,0,19.75,19.75,No,0,0,1,0
2,0,0,0,0,17,1,1,0,0,0,...,0,0,0,80.05,1345.65,No,1,0,0,0
3,0,1,0,0,42,1,1,0,0,0,...,0,0,1,84.65,3541.35,Yes,0,0,1,0
4,1,0,1,0,23,1,0,1,1,0,...,1,0,1,59.95,1406,No,1,0,0,0

In [99]:
#TotalCharges
values = 0
def is_float(value):
    try:
        float(value)
        return float(value)
    except ValueError:
        value = value.replace(' ','0')
        return float(value)

In [100]:
data['TotalCharges'] = data['TotalCharges'].apply(lambda x:is_float(x))

In [101]:
data.drop(data[data['TotalCharges'] == 0].index,inplace=True)

In [132]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,0,0,0,0,27,1,0,2,0,0,...,0,2,1,20.25,538.20,No,1,0,0,0
1,1,0,1,1,1,1,0,2,0,0,...,0,0,0,19.75,19.75,No,0,0,1,0
2,0,0,0,0,17,1,1,0,0,0,...,0,0,0,80.05,1345.65,No,1,0,0,0
3,0,1,0,0,42,1,1,0,0,0,...,0,0,1,84.65,3541.35,Yes,0,0,1,0
4,1,0,1,0,23,1,0,1,1,0,...,1,0,1,59.95,1406.00,No,1,0,0,0

In [103]:
X = data.drop(columns=['Churn'])
y = data.Churn

In [160]:
parameter_grid = {
    'n_estimators':[100,50,200],
    'max_depth ':[1,2],
    'learning_rate ':[0.1,1]
}

In [161]:
base_tree = DecisionTreeClassifier(random_state=0,max_depth=1)

In [162]:
xgb_clf = XGBClassifier(n_estimators=100,base_estimator=base_tree,n_jobs=20)

In [163]:
grid_clf = GridSearchCV(estimator=xgb_clf,param_grid=parameter_grid,n_jobs=20)

In [164]:
grid_clf.fit(X,y)

GridSearchCV(estimator=XGBClassifier(base_estimator=DecisionTreeClassifier(max_depth=1,
                                                                           random_state=0),
                                     n_jobs=20),
             n_jobs=20,
             param_grid={'learning_rate ': [0.1, 1], 'max_depth ': [1, 2],
                         'n_estimators': [100, 50, 200]})

In [166]:
grid_clf.best_params_

{'learning_rate ': 0.1, 'max_depth ': 1, 'n_estimators': 50}

In [175]:
test = pd.read_csv(r"C:\Users\Krutarth\Desktop\Datasets\greyatom_boosting\test.csv")
Id = pd.DataFrame(test.Id)

In [176]:
test.drop(columns=['Id', 'customerID'], inplace=True)

In [177]:
test['gender'].replace({
    'Male':1,
    'Female':0
},inplace=True)

test['Partner'].replace({
    'Yes':1,
    'No':0
}, inplace=True)

test['Dependents'].replace({
    'Yes':1,
    'No':0
}, inplace=True)

#phone service
test['PhoneService'].replace({
    'Yes':1,
    'No':0
}, inplace=True)

#MultipleLines
test['MultipleLines'].replace({
    'No':0,
    'No phone service':0,
    'Yes':1
}, inplace=True)

test['InternetService'].replace({
    'DSL':1,
    'No':2,
    'Fiber optic':0
},inplace=True)

#OnlineSecurity
test['OnlineSecurity'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

#online backup
test['OnlineBackup'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

#device protection
test['DeviceProtection'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

#tech support
test['TechSupport'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

#streamin tv
test['StreamingTV'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

#streaming movies
test['StreamingMovies'].replace({
    'No':0,
    'No internet service':0,
    'Yes':1
},inplace=True)

#contract
test['Contract'].replace({
    'Month-to-month':0,
    'One year':1,
    'Two year':2
},inplace=True)

#paperless billing
test['PaperlessBilling'].replace({
    'Yes':1,
    'No':0
},inplace=True)

test = pd.merge(test,pd.get_dummies(test['PaymentMethod']),on=test.index)
test.drop(columns=['key_0','PaymentMethod'],inplace=True)

In [178]:
test['TotalCharges'] = test['TotalCharges'].apply(lambda x:is_float(x))

In [179]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1409 entries, 0 to 1408
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gender                     1409 non-null   int64
 1   SeniorCitizen              1409 non-null   int64
 2   Partner                    1409 non-null   int64
 3   Dependents                 1409 non-null   int64
 4   tenure                     1409 non-null   int64
 5   PhoneService               1409 non-null   int64
 6   MultipleLines              1409 non-null   int64
 7   InternetService            1409 non-null   int64
 8   OnlineSecurity             1409 non-null   int64
 9   OnlineBackup               1409 non-null   int64
 10  DeviceProtection           1409 non-null   int64
 11  TechSupport                1409 non-null   int64
 12  StreamingTV                1409 non-null   int64
 13  StreamingMovies            1409 non-null   int64
 14  Contract                   1409 non-null   int64
 15  PaperlessBilling           1409 non-null   int64
 16  MonthlyCharges             1409 non-null   float64
 17  TotalCharges               1409 non-null   float64
 18  Bank transfer (automatic)  1409 non-null   uint8
 19  Credit card (automatic)    1409 non-null   uint8
 20  Electronic check           1409 non-null   uint8
 21  Mailed check               1409 non-null   uint8
dtypes: float64(2), int64(16), uint8(4)
memory usage: 214.7 KB

In [180]:
predictions = grid_clf.predict(test)

In [181]:
np.unique(predictions,return_counts=True)

(array(['No', 'Yes'], dtype=object), array([1150,  259], dtype=int64))

In [182]:
Id['Churn'] = predictions

In [183]:
cd C:\Users\Krutarth\Desktop\Datasets\greyatom_boosting

C:\Users\Krutarth\Desktop\Datasets\greyatom_boosting

In [184]:
Id.to_csv('submission.csv', index=False)